# ITERABLE OBJECT

In [1]:
# TUPLE
# TUPLE IS UNCHANGEABLE
# TUPLE IS DENOTED ()
# T0 ACCESS ANY VALUE WE USE THE INDEX LOCATION

In [3]:
numbers = (45,23,65,85,23,56,45,85,69,30,35)
print(len(numbers))

11

In [4]:
print(type(numbers))

<class 'tuple'>

In [6]:
print(numbers[4])

23

In [8]:
print(numbers[-7])

23

In [10]:
print(numbers[3:7])

(85, 23, 56, 45)

In [11]:
print(numbers.count(45))

2

In [12]:
print(numbers.index(65))

2

# LIST

In [17]:
fruits = ['Apple','Cherry','Lemon','Grape']

In [18]:
fruits.append('pear')
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Grape', 'pear']

In [19]:
newlist = ['Banana','Pawpaw','Orange','Apple']
fruits.extend(newlist)
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Grape', 'pear', 'Banana', 'Pawpaw', 'Orange', 'Apple']

In [20]:
fruits.insert(3,'Coconut')
print(fruits)

['Apple', 'Cherry', 'Lemon', 'Coconut', 'Grape', 'pear', 'Banana', 'Pawpaw', 'Orange', 'Apple']

In [23]:
fruits.sort()
print(fruits)

['Apple', 'Apple', 'Banana', 'Cherry', 'Coconut', 'Grape', 'Lemon', 'Orange', 'Pawpaw', 'pear']

In [24]:
fruits.reverse()
print(fruits)

['pear', 'Pawpaw', 'Orange', 'Lemon', 'Grape', 'Coconut', 'Cherry', 'Banana', 'Apple', 'Apple']

In [26]:
fruits.pop(4)
print(fruits)

['pear', 'Pawpaw', 'Orange', 'Lemon', 'Cherry', 'Banana', 'Apple', 'Apple']

In [29]:
fruits.remove('Cherry')
print(fruits)

['pear', 'Pawpaw', 'Orange', 'Lemon', 'Cherry', 'Banana', 'Apple', 'Apple']

In [31]:
fruits_copy = fruits.copy()
print(fruits_copy)

['pear', 'Pawpaw', 'Orange', 'Lemon', 'Cherry', 'Banana', 'Apple', 'Apple']

In [33]:
fruits_copy.clear()
print(fruits_copy)

[]

In [34]:
del(fruits_copy)
print(fruits_copy)

NameError: name 'fruits_copy' is not defined

# Dictionary

In [38]:
records = {
   'Name':'Bola James',
   'Age':45,
    'Gender':'Male',
    'Height':1.85,
    'Weight':75
}

In [39]:
print(records['Gender'])

Male

In [40]:
print(records.keys())

dict_keys(['Name', 'Age', 'Gender', 'Height', 'Weight'])

In [41]:
print(records.values())

dict_values(['Bola James', 45, 'Male', 1.85, 75])

In [42]:
print(records.items())

dict_items([('Name', 'Bola James'), ('Age', 45), ('Gender', 'Male'), ('Height', 1.85), ('Weight', 75)])

In [44]:
r = {'Height':1.95}
records.update(r)
print(records)

{'Name': 'Bola James', 'Age': 45, 'Gender': 'Male', 'Height': 1.95, 'Weight': 75}

In [46]:
records['Address'] = 'Highway street'
print(records)

{'Name': 'Bola James', 'Age': 45, 'Gender': 'Male', 'Height': 1.95, 'Weight': 75, 'Address': 'Highway street'}

In [47]:
records.popitem()
print(records)

{'Name': 'Bola James', 'Age': 45, 'Gender': 'Male', 'Height': 1.95, 'Weight': 75}

In [48]:
record.pop('Age')
print(records)

{'Name': 'Bola James', 'Age': 45, 'Gender': 'Male', 'Height': 1.95, 'Weight': 75}

In [49]:
family = {
     'firstchild':['Ade',30,'Male'],
     'secondchild':['Fatima',26,'Female'],
     'thirdchild':['Bose',23,'Female']
}

In [50]:
print(family['secondchild'])

['Fatima', 26, 'Female']

In [51]:
print(family['secondchild'][1])

26